target
build
.idea
heroku/src
heroku/target
heroku/build
heroku/.*
/**/.DS_Store
src/main/resources/keystore.jks
src/main/resources/public_key.txt
src/main/resources/*.properties
src/main/webapp/app.js
src/main/webapp/style.css
videoquotes.heroku.iml
videoquotes.iml

client/public/Vaadin-Icons\.eot

client/public/Vaadin-Icons\.svg

client/public/Vaadin-Icons\.ttf

client/public/aadin-Icons\.woff

client/public/animate\.min\.css

client/public/bootstrap\.min\.css

client/public/app\.js

client/node_modules/

client/public/Vaadin-Icons\.woff

client/public/bootstrap\.min\.css\.map

client/vue/config\.js
