target
build
.idea
heroku/src
heroku/target
heroku/build
heroku/.*
/**/.DS_Store
src/main/resources/keystore.jks
src/main/resources/public_key.txt
src/main/webapp/app.js
src/main/webapp/style.css
/Users/yoga1290/gitHub/Video-Quotes/src/main/resources/application.properties
/Users/yoga1290/gitHub/Video-Quotes/src/main/resources/videoquotes.properties
videoquotes.heroku.iml
.idea
