/target
/build

src/main/webapp/WEB-INF/appengine-web.xml

src/main/java/videoquotes/oauth/WebSecCnfg.java

src/main/java/videoquotes/oauth/ResourceServer.java

src/main/java/videoquotes/oauth/AuthorizationServer.java

src/main/java/videoquotes/Credential.java

src/main/webapp/js/config.js
