<jade>
.dialog
	.overlay
	.col-xs-12.col-sm-offset-2.col-sm-8(style="height:150%")
		.panel.panel-default
			.panel-body
				.col-xs-12
					select.col-xs-12(ng-model="selectedChannel",ng-change="URL='channel/'+selectedChannel")
						option(value="",selected="selected") Channel Name
						option(ng-repeat="channel in channels", value="{{channel.id}}") {{channel.name}}
				.col-xs-12
					input(type="text",style="font-size: 32px;width:100%;",ng-model="URL",placeholder="Channel/Video URL")
				.col-xs-12
					input(type="text",style="font-size: 32px;width:100%;",ng-model="query",placeholder="Search query (optional)")
				.col-xs-12
					select.col-xs-4(ng-model="startDay")
						option(value="-1") Day
						option(ng-repeat="day in days",value="{{day}}") {{day}}
					select.col-xs-4(ng-model="startMonth")
						option(value="-1") Month
						option(ng-repeat="month in months",value="{{month-1}}") {{month}}
					select.col-xs-4(ng-model="startYear")
						option(value="-1") Year
						option(ng-repeat="year in years",value="{{year}}") {{year}}


				.col-xs-12
					select.col-xs-4(ng-model="endDay")
						option(value="-1") Day
						option(ng-repeat="day in days",value="{{day}}") {{day}}
					select.col-xs-4(ng-model="endMonth")
						option(value="-1") Month
						option(ng-repeat="month in months",value="{{month}}") {{month}}
					select.col-xs-4(ng-model="endYear")
						option(value="-1") Year
						option(ng-repeat="year in years",value="{{year}}") {{year}}
				.col-xs-12
					button.btn.btn-lg.btn-primary(ng-click="submit()") Search
		

	.col-sm-offset-2.col-sm-8
		.col-sm-3.col-xs-12(ng-repeat="video in result")
			.panel.panel-default.clickable(style="background-image: url('{{video.thumbnail}}'); background-position-x: 50%;background-position-y: 50%; min-height: 200px;",ng-click="onClick(video)")
				.panel-body(style="background-color: rgba(175, 183, 177, 0.6);color:black;font-size:32px;") {{video.title}}
	.col-xs-12
		button.btn.btn-lg.btn-primary(ng-click="submit(pageToken)",ng-show="pageToken") Load more
</jade>