<jade>
.col-xs-12(ng-controller="dashCtrl",style="padding:0px;")
	#hero.hidden-xs(style="height: 500px;")
		.fadeIn.animated(ng-repeat="h in hero track by $index", ng-show="$index===heroTime", style="background-image: url('{{h.image}}');width:100%;height: 500px;background-repeat: no-repeat; background-position: center center; background-size: 100% auto;")
			.col-xs-12(ng-repeat="quote in h.quotes track by $index")
				quote.clickable.col-xs-6(quote="quote", ng-click="openQuote(quote)")
	#dash-field.col-xs-12.stickable
		#overlay
			.fadeToggle
				i.material-icons search
				| {{translation.DASH.SEARCH_QUOTES}}
			.fadeToggle
				i.material-icons live_tv
				| {{translation.DASH.YOUTUBE_URL}}
		input#dash-field.col-xs-12.col-sm-8.col-sm-offset-2(type="text",ng-model="videoURL",ng-keyup="onVideoURLChange()")
</jade>
