.title
  broder-bottom: 1px solid gray;
  margin-bottom: 5px;
input
  font-size: 24px;
  height: 64px;
  margin: 5px;
.well
  margin-top: 70px;
button#start
  font-size: 24px;
  float: right;

.hidden-xs.hidden-sm,
.hidden-xs.hidden-sm *,
.visible-sm,
.visible-sm *,
.visible-xs
  padding:0px;
  border-left: 3px solid #ccc; /*#606060;*/

#grid, #grid *
  padding: 0px;

#grid .col-xs-12 .hidden-xs
	margin-left: 70px;
#grid .col-xs-12 .visible-sm
	margin-left: 70px;

.noscroll
	/*position: fixed;*/
