.item
  font-size: 32px;
  color: #ccc;
  cursor: pointer;
i.icon
  font-size:36px;
  color: #ccc;
i.icon.new:after
  content: '\e929'
.playlist input
    width: 100%;
    border: 1px solid #ccc;
    background-color: transparent;
    color: white;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    padding: 7px;
    text-align: center;
    font-size: 32px;
