input#playlist {
    width: 100%;
    border: 1px solid #ccc;
    background-color: transparent;
    color: white;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    padding: 7px;
    text-align: center;
    font-size: 32px;
}
input#playlist:focus
{
    background-color: #ccc;
    color: black;
}

div#playlist {
    border: 1px solid #ccc;
    margin: 5px;
    padding: 5px;
    color: #ccc;
    border-radius: 5px;
    max-height: 200px;
    text-align: center;
    overflow-y: scroll;
    font-size: 20px;
}
div#playlist .item {
    border-bottom: 1px solid white;
    cursor: pointer;
}
div#playlist .item:hover {
    color: black;
    background-color: #ccc;
}