#author-list {
    border: 1px solid #ccc;
    margin: 5px;
    padding: 5px;
    color: #ccc;
    border-radius: 5px;
    max-height: 200px;
    text-align: center;
    overflow-y: scroll;
    font-size: 20px;
}
#author-list .author {
    color: #ccc;
    border-bottom: 1px solid white;
    cursor: pointer;
}
#author-list .author:hover {
    color: black;
    background-color: #ccc;
}