.btn-circle{
    font-size:62px;
    border-radius: 35px;
    border: solid #474747 5px;
    cursor: pointer;
    transition: 0.3s cubic-bezier(0.86, 0, 0.07, 1);
}

.edit.btn-circle.material-icons {
    font-size:62px;
    border-radius: 35px;
    border: solid green 5px;
    background: #cccccc;
    color: rgb(0, 188, 0);
/*    margin: 15px;*/
}
.edit.btn-circle.material-icons:hover {
    background: #cccccc;
    color: green;
}
.edit.btn-circle.material-icons:before {
    content: "create";
}
.edit.open.btn-circle.material-icons:before {
    content: "close";
}


.favorites.btn-circle.material-icons {
    border-color: rgb(254, 164, 0);
    color: rgb(254, 164, 0);
}
.favorites.btn-circle.material-icons:hover {
    background-color: rgb(252, 139, 0);
    color: white;
}
.favorites.btn-circle.material-icons:before {
    content: "folder_special";
}

.watch_later.btn-circle.material-icons {
    border-color: rgb(41, 131, 67);
    color: rgb(41, 131, 67);
}
.watch_later.btn-circle.material-icons:hover {
    background-color: rgb(19, 169, 62);
    color: white;
}
.watch_later.btn-circle.material-icons:before {
    content: "watch_later";
}