.btn-box {
    border: 1px solid #ae2818;
    color: #ae2818;
    border-radius: 5px;
    /*height: 34px;*/
    margin-bottom: 5px;
    margin-left: 5px;
    padding: 7px;
    text-align: center;
    /*width: 174px;*/
    min-width: 174px;
    cursor: pointer;
    transition: 0.3s cubic-bezier(0.86, 0, 0.07, 1);
}
.btn-box:hover, .btn-box.active {
    color: white;
    background-color: #ae2818;
}

.btn-box.blue {
    border: 1px solid #37beff;
    color: #0b346f;
}
.btn-box.blue:hover, .btn-box.blue.active {
    background-color: #155374;
    color: white;
}

.btn-box.gray {
    border: 1px solid #cccccc;
    color: white;
}
.btn-box.gray:hover, .btn-box.gray.active {
    background-color: #cccccc;
    color: black;
}