button#facebook{
    font-size: 40px;
    min-width: 72px;
    border-radius: 50px;
    border: solid #474747 5px;
    background-color: #337ab7;
    color: white;
    float: left;
}

/* dash-field */
#dash-field input {
    text-align: center;
    font-size: 32px;
    /*border: none;*/
    border: 1px solid #b2b2b2;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    
    -moz-box-shadow: 0 0 15px #b2b2b2;
    -webkit-box-shadow: 0 0 15px #b2b2b2;
    box-shadow: 0 0 15px #b2b2b2;
}
#dash-field input:focus {
    background-color: white;
}
#dash-field.stick input
{
    width: 100%;
    margin: 0px;
}
#dash-field #overlay {
    position: absolute;
    left: 50%;
    width:0px;
}
#dash-field #overlay .fadeToggle {
    font-size: 32px;
    position: relative;
    min-width: 300px;
    transform: translateX(-50%);
}

#facebook-sign-in {
    margin-top: 20px;
}

.badge {
    border-radius: 20px;
    width: 20px;
    height: 20px;
    bottom: 0px;
    right: 20px;
    background-color: red;
    position: absolute;
    font-size: 12px;
    color: white;
    text-align: center;
}