#errorDialog {
    width: 100%;
    position: fixed;
    top: 0px;
    height: 70px;
    z-index: 5;
    background-color: rgba(255, 0, 0, 0.8);
    color: white;
    font-size: 32px;
}

#errorDialog i.material-icons {
    position: fixed;
    top: 0px;
    right: 0px;
    font-size: 70px;
}
