.quote {
     background-position-x: 50%;
     background-position-y: 50%;

     position: relative;
     border-bottom: 3px solid white;
     font-size: 32px;
     color: black;
     background-color: #fff;
}
.quote.material-icons.right{
    font-size: 56px;
    float: right;
    right: 0px;
}
.quote.material-icons.left{
    transform: rotate(180deg);
  ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    font-size: 56px;
    float: left;
    margin-top: -56px;
}
.quote.material-icons {
    border: none;
    position: absolute;
    z-index: -1;
    color: rgb(43, 43, 43);
    background-color: transparent;
}
.quote .body {
    color: black;
    background-color: rgba(255, 255, 255, 0.6);
}
.quote .logo {
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: -1;
}
/*
.quote.panel{
    border: 0px;
    font-size: 30px;
    color: #4c4c4c;
    background-color: #c4c4c4;
    color: #4c4c4c;

    -moz-box-shadow: 0 0 5px #b2b2b2;
    -webkit-box-shadow: 0 0 5px #b2b2b2;
    box-shadow: 0 0 5px #b2b2b2;

    background-repeat: no-repeat;
    background-position: center;
}

.quote.panel .panel-body {
    background-color: rgba(240, 235, 233, 0.7);
}
*/
.quote-tag{
  float: right;
  right: 14px;
  margin-top: -37px; /*-44px;*/
  position: absolute;
  color: rgba(144, 142, 142, 0.5);
  font-size: 42px; /* 56px;*/
  transform: rotate(180deg);
  ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
}

.quote-container .quote.panel {
    transition-duration: 1s;
}
.quote-container .quote.panel:hover {
    transform: translateX(50px);
}

.quote-overlay {
    z-index: -1;
    position: absolute;
}