/* enable absolute positioning */
.inner-addon {
  position: relative;
  z-index: 10;
}

/* style glyph */
.inner-addon .material-icons {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

.left-addon.material-icons  {
	left: 0px;
	position: absolute;
	float: left;
	color: #494949;
}
.right-addon.material-icons {
	right: 0px;
	position: absolute;
	float: right;
	color: #494949;
}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }
		

#new-quote-panel .panel-default>.panel-heading,
#search-panel .panel-default>.panel-heading
{
	color: #cccccc;
	background-color: #646464;
	border-color: #cccccc;
}
#new-quote-panel .panel-default,
#search-panel .panel-default
{
	background-color: #747474;
	color: #cccccc;
	border-color:#999999;
}

.rotate180 {
	ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
	transform: rotate(180deg);
}
.leftQuotation {
	font-size: 56px;
  transform: rotate(180deg);
  ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  float: left;
  left: 18px;
  margin-top: -109px;
  position: absolute;
  color: rgba(144, 142, 142, 0.5);
}

.rightQuotation {
	font-size: 56px;
  margin-top: -56px;
  float: right;
  color: rgba(144, 142, 142, 0.5);
}

.clickable
{
	cursor:pointer;
	color: #cccccc;
}
.clickable:hover
{
	cursor:pointer;
	color: #999999;
}
a.light{
    color: #232849;
}
.clickable:hover
{
	cursor:pointer;
	color: #999999;
}

.hidden{
    visibility: hidden;
}


#videoURL:focus{
    width: 100%;
}

body{
	padding: 0px;
	margin: 0px;
}

.trending{
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: tada;
    animation-name: tada;
    -webkit-animation-iteration-count: 100;
    animation-iteration-count: 100;
}