/* enable absolute positioning */
.inner-addon {
  position: relative;
  z-index: 10;
}

/* style glyph */
.inner-addon .material-icons {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

.left-addon.material-icons  {
	left: 0px;
	position: absolute;
	float: left;
	color: #494949;
}
.right-addon.material-icons {
	right: 0px;
	position: absolute;
	float: right;
	color: #494949;
}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }
		

#new-quote-panel .panel-default>.panel-heading,
#search-panel .panel-default>.panel-heading
{
	color: #cccccc;
	background-color: #646464;
	border-color: #cccccc;
}
#new-quote-panel .panel-default,
#search-panel .panel-default
{
	background-color: #747474;
	color: #cccccc;
	border-color:#999999;
}

.rotate180 {
	ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
	transform: rotate(180deg);
}
.leftQuotation {
	font-size: 56px;
  transform: rotate(180deg);
  ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  float: left;
  left: 18px;
  margin-top: -109px;
  position: absolute;
  color: rgba(144, 142, 142, 0.5);
}

.rightQuotation {
	font-size: 56px;
  margin-top: -56px;
  float: right;
  color: rgba(144, 142, 142, 0.5);
}

.quote-tag{
  float: right;
  right: 14px;
  margin-top: -37px; /*-44px;*/
  position: absolute;
  color: rgba(144, 142, 142, 0.5);
  font-size: 42px; /* 56px;*/
  transform: rotate(180deg);
  ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
}

.clickable
{
	cursor:pointer;
	color: #cccccc;
}
.clickable:hover
{
	cursor:pointer;
	color: #999999;
}
a.light{
    color: #232849;
}
.clickable:hover
{
	cursor:pointer;
	color: #999999;
}

.quote.material-icons.right{
    font-size: 56px;
    float: right;
    margin-top: -25px;
    color: rgba(144, 142, 142, 0.5);
}
.quote.material-icons.left{
    transform: rotate(180deg);
  ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    font-size: 56px;
    float: left;
    margin-top: -25px;
    color: rgba(144, 142, 142, 0.5);
}
.quote.panel{
    border: 0px;
    font-size: 30px;
    color: #4c4c4c;
    background-color: #c4c4c4;
    color: #4c4c4c;
    
    -moz-box-shadow: 0 0 5px #b2b2b2;
    -webkit-box-shadow: 0 0 5px #b2b2b2;
    box-shadow: 0 0 5px #b2b2b2;
}
.material-icons.loader{
    font-size: 200px;
    -webkit-animation: fadeInUp 1s ease;
    animation: fadeInUp 1s ease;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
.hidden{
    visibility: hidden;
}

input#search{
    -moz-box-shadow: 0 0 15px #b2b2b2;
    -webkit-box-shadow: 0 0 15px #b2b2b2;
    box-shadow: 0 0 15px #b2b2b2;
}
input#search:focus{
    position: fixed;
    top:0px;
    left:0px;
}
.btn-circle{
    font-size:62px;
    border-radius: 35px;
    border: solid #474747 5px;
    cursor: pointer;
}


.stickOnTop{
    position:fixed !important;
    top:0px;
    left:0px;
}
.stickable{
    position: relative;
}

#videoURL:focus{
    width: 100%;
}

.trending{
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: tada;
    animation-name: tada;
    -webkit-animation-iteration-count: 100;
    animation-iteration-count: 100;
}