<jade>
.section
.col-sm-1.hidden-xs(ng-controller="MenuCtrl")
	.stickable.hidden-xs.col-sm-1(ng-mouseout="menuHover=-1")

		.menu-tooltip.animated.fadeIn(ng-show="menuHover==0") {{translation.MENU.LOGIN}}
		i.login.btn-circle.material-icons(ng-mouseover="menuHover=0",ng-click="login()")

		.menu-tooltip.animated.fadeIn(ng-show="menuHover==1") {{translation.MENU.FAVORITES}}
		i.material-icons(ng-mouseover="menuHover=1",style="font-size:64px",ng-show="isRouteEquals('/Favorites')") star
		i.favorites.material-icons.btn-circle(ng-mouseover="menuHover=1",ng-hide="isRouteEquals('/Favorites')",ng-click="goToRoute('/Favorites')")

		.menu-tooltip.animated.fadeIn(ng-show="menuHover==2") {{translation.MENU.WATCH_LATER}}
		i.btn-circle.material-icons(ng-mouseover="menuHover=2",ng-show="isRouteEquals('/WatchLater')",ng-click="goToRoute('/WatchLater')") watch_later
		i.watch_later.material-icons.btn-circle(ng-mouseover="menuHover=2",ng-hide="isRouteEquals('/WatchLater')",ng-click="goToRoute('/WatchLater')")

		.menu-tooltip.animated.fadeIn(ng-show="menuHover==3") {{translation.MENU.RECENT_SHOWS}}
		i.btn-circle.material-icons(ng-mouseover="menuHover=3",ng-hide="isRouteEquals('/browse')",ng-click="goToRoute('/browse')") live_tv


.col-md-11.col-sm-9.col-xs-12.section(ng-controller="QuoteGridCtrl")
	img.img-circle(ng-repeat="channel in channelData", ng-src="{{channel.thumbnail}}")
	.btn-circle(ng-repeat="author in authorsData") {{author}}

	#quoteLoader
		.col-md-3.col-sm-6.col-xs-12.clickable(style="padding:0px; border-left: 3px solid white;")
			.quote.fadeInUp.animated.clickable(ng-repeat="quote in items track by $index", ng-if="$index%4==0", style="background-image: url('{{quote.thumbnail}}');",ng-click="onQuoteClick(quote)")
				i.material-icons.quote.right format_quote
				.body {{quote.quote}}
				i.material-icons.quote.left format_quote
				img.logo.img-circle.col-xs-3(ng-src="{{quote.logo}}")
		.col-md-3.col-sm-6.col-xs-12.clickable(style="padding:0px; border-left: 3px solid white;")
			.quote.fadeInUp.animated.clickable(ng-repeat="quote in items track by $index", ng-if="$index%4==1", style="background-image: url('{{quote.thumbnail}}');",ng-click="onQuoteClick(quote)")
				i.material-icons.quote.right format_quote
				.body {{quote.quote}}
				i.material-icons.quote.left format_quote
				img.logo.img-circle.col-xs-3(ng-src="{{quote.logo}}")
		.col-md-3.col-sm-6.col-xs-12.clickable(style="padding:0px; border-left: 3px solid white;")
			.quote.fadeInUp.animated.clickable(ng-repeat="quote in items track by $index", ng-if="$index%4==2", style="background-image: url('{{quote.thumbnail}}');",ng-click="onQuoteClick(quote)")
				i.material-icons.quote.right format_quote
				.body {{quote.quote}}
				i.material-icons.quote.left format_quote
				img.logo.img-circle.col-xs-3(ng-src="{{quote.logo}}")
		.col-md-3.col-sm-6.col-xs-12.clickable(style="padding:0px; border-left: 3px solid white;")
			.quote.fadeInUp.animated.clickable(ng-repeat="quote in items track by $index", ng-if="$index%4==3", style="background-image: url('{{quote.thumbnail}}');",ng-click="onQuoteClick(quote)")
				i.material-icons.quote.right format_quote
				.body {{quote.quote}}
				i.material-icons.quote.left format_quote
				img.logo.img-circle.col-xs-3(ng-src="{{quote.logo}}")
</jade>
