<jade>
.dialog.animated.slideInDown
	.overlay
	#search.stickable(style="height:0px;")
		input(type="text",id="query",ng-model="field",ng-keyup="query();",placeholder="search")
		i.material-icons search
	#search-panel.col-xs-12.col-md-8.col-md-offset-2
		input#startTime.col-xs-12.col-md-offset-2.col-md-4(type="text",data-provide="datepicker",placeholder="start date")
		input#endTime.col-xs-12.col-md-4(type="text",data-provide="datepicker", placeholder="end date")
		.col-xs-12.col-sm-6
			.title.col-xs-12
				i.material-icons(style="font-size: 48px;") live_tv
				| {{translation.SEARCH.CHANNELS}}
			.entity.col-xs-12(ng-repeat="channel in channels track by $index",ng-click="selectChannel(channel.id)")
				img.img-circle.col-xs-3(ng-src="{{channel.logo}}", style="max-height:100px")
				| {{channel.name}}

		.col-xs-12.col-sm-6
			.title.col-xs-12
				i.material-icons(style="font-size: 48px;") face
				| {{translation.SEARCH.PEOPLE}}
			.entity.col-xs-12(ng-repeat="person in people track by $index",ng-click="selectPerson(person.id)")
				i.material-icons(style="font-size: 24px;") check_box_outline_blank
				| {{person.name}}
</jade>
