<jade>
script(src="https://www.youtube.com/iframe_api?enablejsapi=1&playsinline=1")
div(ng-class="{'hidden':!show}",style="z-index:5;background-color:rgba(0,0,0,0.6);top:0px;left:0px;position:absolute;width:100%;height:1000%",ng-click="overlayClick()")
	.col-xs-12.col-md-6.embed-responsive.embed-responsive-16by9(ng-click="click()")
		#video




	ng-include(src="'video/new.html'")

	div(ng-repeat="quote in video.playlist track by $index",ng-click="click()")
		.col-md-5.col-sm-12.col-xs-12
			.quote.panel.panel-default
				i.material-icons.quote.right format_quote
				.panel-body
					| {{quote.quote}}
				i.material-icons.quote.left format_quote
				.panel-footer
					span.label.label-default(style="font-size:18px")
						i.material-icons(style="font-size:18px") face
						| {{quote.personId}}
					span.label.label-default(style="font-size:18px;margin: 10px",ng-repeat="tag in quote.tags")
						i.material-icons(style="font-size:18px;") local_offer
						| {{tag.tag}}
		.col-md-5.col-sm-6.col-xs-12
			i.btn-circle.material-icons(style="font-size:62px; border-radius: 35px; border: solid green 5px; background: #cccccc; margin: 15px;",ng-click="newQuote.edit(quote)") create
			i.btn-circle.material-icons(style="font-size:62px; border-radius: 35px; border: solid orange 5px; background: #cccccc; margin: 15px;",ng-hide="favourites.isFavourite(quote)",ng-click="favourites.add(quote)") star_border
			i.btn-circle.material-icons(style="font-size:62px;color: orange; border-radius: 35px; border: solid orange 5px; background: #cccccc; margin: 15px;",ng-show="favourites.isFavourite(quote)",ng-click="favourites.remove(quote)") star
			i.btn-circle.material-icons(style="font-size:62px; border-radius: 35px; border: solid blue 5px; background: #cccccc; margin: 15px;") share
			#tagger.dropdown.col-xs-2
				i.btn-circle.material-icons.dropdown-toggle(data-toggle="dropdown",style="font-size:62px; border-radius: 35px; border: solid green 5px; background: #cccccc; margin: 15px;") local_offer
				i.material-icons.dropdown-toggle(data-toggle="dropdown",style="font-size:32px; color: white; position:absolute;top:35px;left:50px;") add_circle
				ul.dropdown-menu.col-xs-12(style="overflow:hidden;width:600%")
							li
								i.material-icons.right-addon search
								input.form-control(type="text",ng-model="tagger.tagNameQuery",ng-keypress="tagger.findByTagName($event)",ng-click="stopPropagation($event)")
							li(ng-repeat="tag in tagger.tagNames track by $index",ng-click="tagger.selectTag(tag)")
								a
									i.material-icons(ng-show="tagger.selectedTags[tag.key.name]!=true") label_outline
									i.material-icons(ng-show="tagger.selectedTags[tag.key.name]==true") label
									|	{{tag.key.name}}








</jade>