<jade>
.dialog.animated.fadeInDown
	.overlay
	.col-md-1(style="padding:0px;")
		i.edit.btn-circle.material-icons(ng-click="showEdit=!showEdit;", ng-class="{'open':showEdit}")
		i.btn-circle.material-icons(ng-click="Favorites.add(quote)", ng-class="{'isFavorite': Favorites.isFavorites(quote)}") star
		i.btn-circle.material-icons add_to_queue
		i.btn-circle.material-icons share
	.video-overlay.col-xs-12.col-md-offset-1.col-md-8.animated.slideInDown.ng-cloak(ng-show="showEdit||!quote")
			ng-form.col-xs-12(name="quoteForm",ng-controller="QuoteEditorCtrl")

				.timer.col-xs-12
					i.material-icons.btn-circle(ng-click="decreasePlaybackRate()") directions_walk
					i.material-icons.btn-circle(ng-click="increasePlaybackRate()") directions_run
				.timer.col-xs-12
					i.left.material-icons subdirectory_arrow_right
					input(type="tel",name="startTime",ng-model="startTime",ng-keyup="onStartTimeChange()",ng-class="{'has-error': (quoteForm.startTime.$invalid)}",ng-pattern="[/d]{1-2}[:]+[/d]{2}")
					i.right.material-icons(style="position:absolute; top:50%;") subdirectory_arrow_left
					input(type="tel",name="endTime",ng-model="endTime",ng-keyup="onEndTimeChange()",ng-class="{'has-error': (quoteForm.endTime.$invalid)}",ng-pattern="[/d]{1-2}[:]+[/d]{2}")

				.col-xs-12
					i.material-icons#author face
					input#author(placeholder="{{translation.VIDEO.AUTHOR}}",name="author",ng-model="authorName", ng-keyup="onAuthorNameChange()",required,ng-class="{'has-error': quoteForm.author.$invalid}")
					#author-list(ng-show="suggestedAuthors.length")
						.author(ng-repeat="author in suggestedAuthors", ng-click="selectAuthor(author)") {{author.name}}
				.col-xs-12(style="padding:0px;")
					#edit-tip
					textarea#quote.col-xs-12(placeholder="{{translation.VIDEO.QUOTE}}",name="quote",ng-class="{'has-error': (quoteForm.quote.$invalid)}",ng-model="quote.quote")
					i.material-icons.quote.right(style="position: absolute;margin-left: -45px;") format_quote
					i.material-icons.quote.left(style="margin-top: -38px;") format_quote
				.btn-box.col-xs-12.col-sm-3.gray(ng-click="save()", ng-disabled="quoteForm.$invalid")
					i.material-icons save
					| {{translation.VIDEO.SAVE}}
	.playlist.video-overlay.col-xs-12.col-md-offset-1.col-md-8.animated.slideInDown.ng-cloak(ng-show="false")
			ng-form.col-xs-12(name="playlistForm", ng-controller="PlaylistMenuCtrl")
				input(type="text", ng-model="query", ng-keyup="searchByName()")

	.col-xs-12.col-md-8.embed-responsive.embed-responsive-16by9
		#video
	.col-xs-12.col-md-3
		quote.col-xs-12(quote="quote",ng-show="quote")
		.reaction-badge(ng-show="reactions[1].length") {{reactions[1].length}}
		i.reaction.btn-circle.material-icons(ng-click="selectReaction(-1)")
		.reaction-badge(ng-show="reactions[2].length") {{reactions[2].length}}
		i.reaction.btn-circle.material-icons(ng-click="selectReaction(2)")
		.reaction-badge(ng-show="reactions[3].length") {{reactions[3].length}}
		i.reaction.btn-circle.material-icons(ng-click="selectReaction(3)")
		.reaction-badge(ng-show="reactions[-1].length") {{reactions[-1].length}}
		i.btn-circle.material-icons(ng-click="selectReaction(-1000)", style="color: red;border-color: red;background-color: rgb(84, 0, 0);") assistant_photo




	.col-xs-12.col-md-offset-2.col-md-6
		.connector.col-md-offset-6
		quote.clickable(ng-repeat="otherQuote in quotes", ng-hide="otherQuote.id==quote.id", quote="otherQuote", ng-click="openQuote(otherQuote)")
</jade>
