<jade>
ng-form.col-xs-12(name="playlistForm")
	input#playlist(placeholder="{{translation.VIDEO.AUTHOR}}",name="playlistTitle",ng-model="query", ng-keyup="onchange(query, quote)", required,ng-class="{'has-error': playlistForm.playlistTitle.$invalid}")
	#playlist.col-xs-12
		.item(ng-repeat="item in list", ng-show="list.length", ng-click="addPlaylist(item, quote)")
			i.material-icons add_circle_outline
			| {{item.name}}
		.item(ng-hide="list.length")
			div(ng-show="query.length", ng-click="newPlaylist(quote)")
				i.material-icons fiber_new
				| {{query}}
</jade>