<jade>
#header
	.hidden-xs
		.col-xs-12(ng-show="user")
			img.img-circle(ng-src="{{picture}}", style="max-width: 70px; max-height: 70px;")
		.col-xs-12(ng-mouseover="hover=1", ng-mouseout="hover=0")
			i.login.btn-circle.material-icons(ng-click="login()")
			.tool-tip.animated.fadeIn(ng-show="hover==1") {{translation.MENU.LOGIN}}
		.col-xs-12(ng-mouseover="hover=2", ng-mouseout="hover=0")
			i.favorites.btn-circle.material-icons(ng-click="goToRoute('/playlist')")
			.tool-tip.animated.fadeIn(ng-show="hover==2") {{translation.MENU.PLAYLIST}}
		.col-xs-12(ng-mouseover="hover=3", ng-mouseout="hover=0")
			i.search.btn-circle.material-icons(ng-click="goToRoute('/search')")
			.tool-tip.animated.fadeIn(ng-show="hover==3") {{translation.MENU.SEARCH}}
	.visible-xs
		img.img-circle(ng-show="user", ng-src="{{picture}}", style="max-width: 70px; max-height: 70px;")
		i.login.btn-circle.material-icons(ng-click="login()")
		i.favorites.btn-circle.material-icons(ng-click="goToRoute('/playlist')")
		i.search.btn-circle.material-icons(ng-click="goToRoute('/search')")
.visible-xs(style="height:70px; width:100%;")
</jade>