<jade>
i.reaction.btn-circle.material-icons(ng-click="selectReaction(-1)")
i.reaction.btn-circle.material-icons(ng-click="selectReaction(2)")
i.reaction.btn-circle.material-icons(ng-click="selectReaction(3)")
i.btn-circle.material-icons(ng-click="selectReaction(-1000)", style="color: red;border-color: red;background-color: rgb(84, 0, 0);") assistant_photo
.reaction-badge(ng-show="reactions[1].length") {{reactions[1].length}}
.reaction-badge(ng-show="reactions[2].length") {{reactions[2].length}}
.reaction-badge(ng-show="reactions[3].length") {{reactions[3].length}}
.reaction-badge(ng-show="reactions[-1].length") {{reactions[-1].length}}
</jade>