.col-xs-12, .col-sm-6
    padding: 0px;
i.icon#author
    position: absolute;
    margin-left: 5px;
    color: rgba(255, 255, 255, 0.65);
    font-size: 60px;

input#author
    width: 100%;
    border: 1px solid #ccc;
    background-color: transparent;
    color: white;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    padding: 7px;
    text-align: center;
    font-size: 32px;

input#author:focus
    background-color: #ccc;
    color: black;
#author-list
    border: 1px solid #ccc;
    margin: 5px;
    padding: 5px;
    color: #ccc;
    border-radius: 5px;
    max-height: 200px;
    text-align: center;
    overflow-y: scroll;
    font-size: 20px;

#author-list .author
    color: #ccc;
    border-bottom: 1px solid white;
    cursor: pointer;

#author-list .author:hover
    color: black;
    background-color: #ccc;

i.icon.new-author:after
  content: '\e801'
